VUE_APP_BACKEND_HOST='10.20.186.58'
VUE_APP_BACKEND_PROTOCOL='http'
VUE_APP_BACKEND_PORT=5030
VUE_APP_MARTIN_HOST='10.20.186.58'
VUE_APP_MARTIN_PROTOCOL='http'
VUE_APP_MARTIN_PORT=3000
VUE_APP_GEOSERVER_HOST='10.20.186.58'
VUE_APP_GEOSERVER_PROTOCOL='http'
VUE_APP_GEOSERVER_PORT=8083
